
 <!-- <style>
.inner a {
color: white;
text-decoration: none;
}
</style>
        <div class="mastfoot">
            <div class="inner">
           <div class="navbar-text pull-right">
                <p>              © Copyrights 2015 Akhil Thakkar</p>
    
        
                <a href=""><i class="fa fa-instagram fa-2x"></i></a> 
            
                <a href=""><i class="fa fa-github fa-2x"></i></a>

                <a href=""><i class="fa fa-twitter fa-2x"></i></a>
            
                <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                 
                <a href=""><i class="fa fa-linkedin fa-2x"></i></a>

</div>
            
</div> -->
<style>

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  white;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
    
}

    
     {width: 100%;
    height: 100px;
    position: absolute;
         bottom: 0px;}
</style>
<div class="mastfoot">
            <div class="inner">
<footer class="footer-distributed">

			<div class="footer-right">

				 <a href="https://github.com/akhil1095"><i class="fa fa-github fa-2x"/i></a>
            
                <a href="https://ca.linkedin.com/akhil1095"><i class="fa fa-linkedin fa-2x"></i></a>
        
                <a href="https://instagram.com/mr_akill/"><i class="fa fa-instagram fa-2x"></i></a> 
            
                <a href="https://twitter.com/akhil1095"><i class="fa fa-twitter fa-2x"></i></a>
            
                <a href="https://www.facebook.com/thakkarakhil"><i class="fa fa-facebook     fa-2x"></i></a>

			</div>

			<div class="footer-left">

				

				<p>Akhil Thakkar&copy; 2015</p>
			</div>

		</footer>