<%- include partials/header.ejs %>
<style>
body {
    
    background-image: url("../images/12.jpg") ;}
</style>

    <h1>Akhil Thakkar</h1>
<h2>|Computer Programmer|</br>
    |Photographer|</h2>
  </body>
</html>
<%- include partials/footer.ejs %>
